@charset "utf-8";
	.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
}
.image4
{
	background-image : url(image4.png);
	background-repeat : no-repeat;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.st0
{
	border-style : Solid;
	border-color : #2D2628;
	border-color : rgba(45, 38, 40, 1);
	border-width : 1px;
}
.image5
{
	background-image : url(image5.png);
	background-repeat : no-repeat;
}
